.page-1 {
    background-color: #d1d1d100;
    padding: 90px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.page-1 .page-1-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page-1 .page-1-layout h3 {
    margin-top: 10px;
    font-weight: bold;
    max-width: 900px;
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
}

.page-1 .page-1-layout p {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    max-width: 550px;
}

.page-showcase-1 {
    display: flex;
    align-items: center;
    max-width: 1300px;
    justify-content: center;
}

.box-showcase {
    width: 950px;
    background-color: #1C2131;
    background-repeat: no-repeat;
    margin-top: 0px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid #595959;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease;
}

.showcase-video-png {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.showcase-video-png.active {
    opacity: 1;
}

.transition-bg {
    background-color: rgba(255, 255, 255, 0.795);
}