@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

.logo * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    background: #000319;
    margin: 0;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background-1 {
    background: url(main-folder/images/backgrounds/background-2.png);
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 200vh;
    margin-bottom: 30px;
    align-items: start;
    display: flex;
    flex-wrap: wrap;
}



.table-h1{
    color: wheat;
}